@use '../../admin-styles.scss';

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

:host ::ng-deep .p-dialog.layout-editor-dialog {
  .p-dialog-content {
    padding: 0;
    height: calc(90vh - 120px);
  }
}